.volume-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1rem;
}

.volume-container button{
    padding: .4rem;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.volume-container button:hover{
    opacity: 0.8;
}

.book-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 200, 202);
}

/* book */
#book{
    position: relative;
    width: 450px;
    height: 600px;
}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back{
    /* background-color: rgb(206, 221, 224); */
    background-image: radial-gradient(white, rgb(195, 210, 212));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid black;
}

.back{
    z-index: 0;
}

.front-content,
.back-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-content img,
.back-content img{
    height: 100%;
    width: 100%;
}

.back-content{
    transform: rotateY(180deg);
}

/* paper flip effect */
.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
}

/* buttons */
#prev-btn,
#next-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

button:focus{
    outline: none;
}

button:hover i{
    color: #636363;
}

.fa-arrow-circle-left,
.fa-arrow-circle-right{
    font-size: 50px;
    color: gray;
}

/* paper stack order */
#p1{
    z-index: 8;
}

#p2{
    z-index: 7;
}

#p3{
    z-index: 6;
}

#p4{
    z-index: 5;
}

#p5{
    z-index: 4;
}

#p6{
    z-index: 3;
}

#p7{
    z-index: 2;
}

#p7{
    z-index: 1;
}

